/* clockTime.css */

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

.digits {
    font-size: 3rem;
    font-family: "Orbitron", sans-serif;
    font-variant-numeric: tabular-nums;
}

.time-container {
    display: inline-block;
    width: auto;
    min-width: 100% !important;
    text-align: center;
}

@media (min-width: 576px) {
    .digits {
        font-size: 4rem;
    }
}
@media (min-width: 768px) {
    .digits {
        font-size: 6rem;
    }
}
@media (min-width: 992px) {
    .digits {
        font-size: 9rem;
    }
}
